@{
    ViewData["Title"] = "Home Page";
}
@model DanTech.Models.DTViewModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><label>Total types:</label>@ViewBag.TypeCt</p>
    <p><label>Caller:</label>@ViewBag.ipAddress</p>
    <p><label>Host:</label>@ViewBag.host</p>
    <p><label>Time:</label>@DateTime.Now.ToLongDateString() @DateTime.Now.ToLongTimeString() (@TimeZoneInfo.Local.GetUtcOffset(DateTime.UtcNow))</p>
    <p><label>Build:</label>1.3.1</p>

    @if (Model == null || Model.User == null)
    {
        <p>You are not currently signed in.</p>
        <form action="/Home/Signin" method="post">
            <button>Sign in with Google</button>
        </form>
    }
    else
    {
        <p>You are signed in as <span>@Model.User.fName @Model.User.lName (@Model.User.email)</span></p>
        <form action="/Home/Signin" method="post">
            <button>Change sign in with google.</button>
        </form>
    }

    @if (Model != null && Model.TestEnvironment)
    {
        <form action="/Home/ToggleTestState" method="post">
            @if (Model.IsTesting)
            {
                <h3>Currently in <b>testing mode</b>.</h3>
            }
            else
            {
                <h3><b>Not</b> in testing mode.</h3>
            }
            <button>Toggle Test State</button>
        </form>
    }
</div>
