@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DanTech.Data.Models.DTViewModel

<div class="row" id="mainContainer">
    <div class="col-8 border border-dark padding-right-xs">
        <h3>To Do List</h3>
        <div id="PlanItems">
            @if (Model.PlanItems.Count > 0)
            {
                <div class="row border border-dark" id="heading">
                    <div class="col-6 border border-dark">Item</div>
                    <div class="col-3 border border-dark">Date</div>
                    <div class="col-1 border border-dark">Start</div>
                    <div class="col-1 border border-dark">Len</div>
                    <div class="col-1 border border-dark" style="font-size: small">Priority</div>
                </div>

                @for (int i = 0; i < Model.PlanItems.Count; i++)
                {
                    var item = Model.PlanItems[i];
                    <div class="row border border-dark">
                        <div class="col-6 border border-dark">@item.title</div>
                        <div class="col-3 border border-dark">@item.day.ToString("ddd"), @item.day.ToShortDateString()</div>
                        <div class="col-1 border border-dark">
                            @if (item.start.HasValue)
                            {
                                @item.start.Value.ToString("HH:mm");
                            }
                        </div>
                        <div class="col-1 border border-dark">
                            @if (item.duration.Hours > 0 || item.duration.Minutes > 0)
                            {
                                @item.duration.ToString(@"hh\:mm");
                            }
                        </div>
                        <div class="col-1 border border-dark">@item.priority</div>
                    </div>
                }
            }
            else
            {
                <h4>List is clear</h4>
            }
        </div>
    </div>
     <div class="col-4 border border-dark padding-left-xs">
            <div id="NewPlanItemForm">
                <h4>Add an item to daily plan:</h4>
                <div class="row">
                    <div class="col">
                        Title (test to be displayed on daily planner): <input type="text" id="NewPlanItemTitle" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Note (extra information):<br /><textarea id="NewPlanItemNote" rows="4"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Start: <input type="date" id="NewPlanItemStartDate" /> <input type="time" id="NewPlanItemStartTime"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        End: <input type="date" id="NewPlanEndDate" /> <input type="time" id="NewPlanItemEndTime" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button onclick="submitPlanItem();">Add</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button onclick="test();">Test</button>
                    </div>
                </div>
            </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    function submitPlanItem() {
        var theData = {
            title: $("#NewPlanItemTitle").val(),
            note: $("#NewPlanItemNote").val(),
            start: $("#NewPlanItemStartDate").val(),
            startTime: $("#NewPlanItemStartTime").val(),
            end: $("#NewPlanItemEndDate").val(),
            endTime: $("#NewPlanItemEndTime").val()
        };
        $.post("https://localhost:44324/Planner/SetPlanItem", theData,
            function (data, status) {
                refreshItems(data);
            });
    }

    function test() {
        var v = "";
        var d = new Date(Date.parse(v));  
        alert(d.getDate());
    }


    function refreshItems(data) {
        $("#NewPlanItemTitle").val("");
        $("#NewPlanItemNote").val("");
        $("#NewPlanItemStart").val("");
        $("#NewPlanItemEnd").val("");


        var newList = "\t\t\t\t<div class=\"row border border-dark\" id=\"heading\">\n";
        newList += "\t\t\t\t\t<div class=\"col-6 border border-dark\">Item</div>\n";
        newList += "\t\t\t\t\t\t<div class=\"col-3 border border-dark\">Date</div>\n";
        newList += "\t\t\t\t\t\t<div class=\"col-1 border border-dark\">Start</div>\n";
        newList += "\t\t\t\t\t\t<div class=\"col-1 border border-dark\">Len</div>\n";
        newList += "\t\t\t\t\t\t<div class=\"col-1 border border-dark\" style=\"font-size: small\">Priority</div>\n";
        newList += "\t\t\t\t</div>\n";

        
        for (var i = 0; i < data.length; i++) {
            newList += "\t\t\t\t<div class=\"row border border-dark\">\n";
         //   alert(data[i].title);
            newList += "\t\t\t\t\t<div class=\"col-6 border border-dark\">" + data[i].title + "</div>\n";
            var dBuf = new Date(Date.parse(data[i].day));
         //   alert(dBuf.toDateString());
            newList += "\t\t\t\t\t<div class=\"col-3 border border-dark\">" +
                dBuf.toLocaleString("en-US", { weekday: "short"}) + ", " +
                ("0" + (dBuf.getMonth()+1)).slice(-2) + "/" + ("0" + dBuf.getDate()).slice(-2) + "/" + dBuf.getFullYear() +
                "</div>\n";
            dBuf = new Date(Date.parse(data[i].start));
         //   alert(dBuf);
            newList += "\t\t\t\t\t<div class=\"col-1 border border-dark\">";
            if (dBuf == "Invalid Date") {
                newList += "&nbsp;"
            } else {
                newList += ("0" + dBuf.getHours()).slice(-2) + ":" + ("0" + dBuf.getMinutes()).slice(-2);
            }
            newList += "</div>\n";
        //    alert(data[i].duration);
            newList += "\t\t\t\t\t<div class=\"col-1 border border-dark\">";
            if (data[i].duration == null) {
                newList += "&nbsp;"
            } else {
                //alert("duration is not null for " + data[i].title);
                //alert(data[i].duration);
                //alert(Object.keys(data[i].duration.value));
                newList += ("0" + data[i].duration.value.hours).slice(-2) + ":" + ("0" + data[i].duration.value.minutes).slice(-2);
            }
            newList += "</div>\n";
            newList += "\t\t\t\t\t<div class=\"col-1 border border-dark\">" + data[i].priority + "</div>\n";
            newList += "\t\t\t\t</div>\n"
        }
        alert(newList);
        $("#PlanItems").html(newList);
    };
</script>
}
